@charset "UTF-8";
@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

/* ------------------- */
/* general
/* ------------------- */
html {
  font-size: 62.5%;
  color: #333333;
}

body {
  font-family: 'Montserrat',"游ゴシック体",YuGothic,"游ゴシック Medium","Yu Gothic Medium","游ゴシック","Yu Gothic",sans-serif;
  letter-spacing: 0.05em;
  margin: 0 auto;
  font-size: 1.4em;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url(/img/palm-tree.jpg) center no-repeat;
  background-size: cover;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

li {
  list-style: none;
}

.flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 40px 3vw;
}

.sec-title {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #333333;
}

.sec-title.right {
  text-align: right;
}

.sec-text {
  line-height: 2;
}

.sec-text p:not(:last-of-type) {
  margin-bottom: 40px;
}

.link-btn {
  margin-top: 30px;
}

.link-btn a {
  text-transform: uppercase;
  text-align: center;
  background-color: #4E8DA6;
  width: 160px;
  color: #F2E8DC;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 3.6rem;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

.link-btn a:hover {
  opacity: .7;
}

.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ------------------- */
/* footer
/* ------------------- */
#footer {
  background-color: #011526;
  text-align: center;
  padding: 20px 0;
  color: #F2E8DC;
  font-size: 1rem;
}

/* ------------------- */
/* header
/* ------------------- */
#header {
  position: relative;
  z-index: 10;
}

#header .header-inner {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 50px 5vw;
  margin: 0 auto;
  color: #F2E8DC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-inner .header-logo a {
  font-size: 2.8rem;
  color: #F2E8DC;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: 800;
}

#header .header-inner #nav {
  position: fixed;
  top: 0;
  right: -520px;
  width: 520px;
  padding: 180px 200px 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 20;
  opacity: 0;
  background: #222;
  height: 100vh;
}

#header .header-inner #nav a {
  color: #F2E8DC;
  text-transform: uppercase;
}

#header .header-inner .menu-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#header .header-inner .menu-btn .burger-menu {
  width: 40px;
  height: 26px;
  position: relative;
  top: 0;
  z-index: 20;
  margin-right: 7px;
}

#header .header-inner .menu-btn .burger-menu span {
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #F2E8DC;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#header .header-inner .menu-btn .burger-menu span:first-child {
  top: 0;
}

#header .header-inner .menu-btn .burger-menu span:nth-child(2), #header .header-inner .menu-btn .burger-menu span:nth-child(3) {
  top: 12px;
}

#header .header-inner .menu-btn .burger-menu span:last-child {
  bottom: 0;
}

#header .header-inner .menu-btn .burger-menu.open span:first-child {
  opacity: 0;
}

#header .header-inner .menu-btn .burger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header .header-inner .menu-btn .burger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#header .header-inner .menu-btn .burger-menu.open span:last-child {
  opacity: 0;
}

#header .header-inner .menu-btn .menu-text {
  font-size: 1.6rem;
  font-weight: 800;
}

/* ------------------- */
/* about
/* ------------------- */
#about .sec-wrapper {
  padding: 60px 10vw;
}

#about .sec-wrapper .sec-inner {
  height: 100%;
  width: 100%;
  background-color: rgba(242, 232, 220, 0.95);
  padding: 40px 3vw;
  position: relative;
}

#about .sec-wrapper .sec-inner .flex-item .flex-left {
  width: 60%;
}

#about .sec-wrapper .sec-inner .flex-item .flex-left .sec-text {
  line-height: 2;
  letter-spacing: normal;
  padding-right: 30px;
}

#about .sec-wrapper .sec-inner .flex-item .author-image {
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .sec-wrapper .sec-inner .flex-item .author-image img {
  width: 250px;
  border-radius: 50%;
}

#concept {
  background-color: #F2E8DC;
  padding: 60px 10vw;
}

#concept .sec-wrapper {
  height: 400px;
  width: 100%;
  background-color: lightgray;
}

/* ------------------- */
/* contact
/* ------------------- */
#contact {
  padding: 60px 0 120px;
}

#contact .sec-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .sec-wrapper .sec-contents {
  width: 50%;
  padding-right: 80px;
  font-size: 1.6rem;
}

#contact .sec-wrapper .sec-contents .sec-text {
  line-height: 2;
  letter-spacing: normal;
}

#contact .sec-wrapper .sec-img {
  height: 390px;
  width: 580px;
}

/* ------------------- */
/* first-view
/* ------------------- */
.fv {
  height: 800px;
  max-height: 800px;
  width: 100%;
  position: relative;
  background-color: #F2E8DC;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-bottom: 60px;
}

.fv .fv-img {
  width: 76.38889%;
  max-width: 1100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.fv .fv-bg-black {
  width: 54.16667%;
  min-width: 600px;
  height: 100%;
  max-height: 740px;
  min-height: 500px;
  background-color: #011526;
  position: absolute;
  top: 0;
  right: 0;
}

.fv .fv-copy {
  color: #fff;
  z-index: 3;
  text-transform: uppercase;
}

.fv .fv-copy .copy-small {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.fv .fv-copy .copy-big {
  font-size: 7.2rem;
  font-weight: 800;
}

/* ------------------- */
/* service
/* ------------------- */
#service .sec-wrapper {
  padding: 60px 10vw;
}

#service .sec-wrapper .sec-inner {
  height: 100%;
  width: 100%;
  background-color: rgba(242, 232, 220, 0.95);
  padding: 40px 3vw;
  position: relative;
}

#service .sec-wrapper .sec-inner .flex-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#service .sec-wrapper .sec-inner .flex-item .flex-left {
  width: 60%;
}

#service .sec-wrapper .sec-inner .flex-item .flex-left .sec-text {
  line-height: 2;
  letter-spacing: normal;
  padding-right: 30px;
}

#service .sec-wrapper .sec-inner .flex-item .service-image {
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#service .sec-wrapper .sec-inner .flex-item .service-image img {
  width: 250px;
  border-radius: 50%;
}

/* ------------------- */
/* works&culture
/* ------------------- */
.works_and_culture {
  margin-bottom: 60px;
}

.works_and_culture .sec-img {
  padding-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */