/* ------------------- */
/* about
/* ------------------- */
#about {

  .sec-wrapper {
      padding: 60px 5vw;
    .sec-inner {
      height: 100%;
      width: 100%;
      background-color: rgba($color: cl(beige), $alpha: .95);
      padding: 40px 10vw;
      position: relative;

      .flex-item {
        .flex-left {
          width: 60%;
          margin-right: 20px;
          .about {
            line-height: 1.7;
            font-size: 1.6rem;
            .name {
              font-weight: bold;
            }
            p {
              &:not(:last-of-type) {
                margin-bottom: 15px;
              }
            }
          }
        }

        .author-image {
          margin: 0 auto;
          flex: 1;
          text-align: center;
          img {
            min-width: 200px;
            max-width: 300px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
