/* ------------------- */
/* about
/* ------------------- */
#about {

  .sec-wrapper {
      padding: 60px 5vw;

    .sec-inner {
      background-color: rgba($color: cl(beige), $alpha: .95);
      padding: 40px 5vw;

      .flex-item {
        align-items: center;
        .flex-left {
          width: 60%;
          margin-right: 20px;
          .about {
            line-height: 2;
            font-size: 1.6rem;
            .name {
              font-weight: bold;
            }
            p {
              &:not(:last-of-type) {
                margin-bottom: 15px;
              }
            }
          }
          .link-btn {
            margin-top: 20px;
          }
        }

        .author-image {
          flex: 1;
          text-align: center;
          img {
            border-radius: 50%;
            min-width: 200px;
            max-width: 300px;
            border-radius: 50%;
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
          }
        }
      }
    }
  }
}
