/* ------------------- */
/* contact
/* ------------------- */
#contact {
  background-color: cl(beige);
  margin-bottom: 50px;

  .sec-wrapper {
    padding: 60px 15vw;

    .sec-contents {
      // align-items: center;
      .flex-left {
        width: 80%;
        margin-right: 40px;
        font-size: 2rem;
        .sec-text {
          line-height: 2;
          letter-spacing: normal;
        }
      }

    }
  }
}
