/* ------------------- */
/* contact
/* ------------------- */
#contact {
  margin-bottom: 50px;

  .sec-wrapper {
    padding: 60px 5vw;

    .sec-inner {
      background-color: rgba($color: cl(beige), $alpha: .95);
      padding: 40px 3vw;

      .sec-contents {
        .flex-left {
          width: 50%;
          margin-right: 40px;
          font-size: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .sec-text {
            line-height: 2;
            letter-spacing: normal;
          }
        }
      }
    }
  }
}
