/* ------------------- */
/* contact
/* ------------------- */
#contact {
  background-color: cl(beige);
  margin-bottom: 30px;

  .sec-wrapper {
    padding: 60px 15vw;

    .sec-contents {
      width: 50%;
      padding-right: 80px;
      font-size: 1.6rem;

      .sec-text {
        line-height: 2;
        letter-spacing: normal;
      }
    }

    .sec-img {
      height: 390px;
      width: 580px;
    }
  }
}
