/* ------------------- */
/* first-view
/* ------------------- */
.fv {
  height: 100vh;
  background-color: rgba($color: cl(beige), $alpha: .95);
  z-index: -2;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: cl(base);
    width: 50%;
    height: 100%;
    z-index: 1;
  }
  .bg-wrapper {
    position: relative;
    height: percentage(640px / 740px);
    width: percentage(1100px / 1440px);
    background-image: url(/img/fv-image.jpg);
    background-size: cover;
    background-position: center 0;
    z-index: 2;
    .fv-copy {
      color: cl(beige);
      z-index: 3;
      text-transform: uppercase;
      text-shadow: 2px 3px 4px cl(base);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);

      .copy-small {
        font-size: 2rem;
        margin-bottom: 5px;
      }
      .copy-mid {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .copy-big {
        font-size: 7.2rem;
        font-weight: 800;
        line-height: 1.2;
      }
    }
  }


}
