/* ------------------- */
/* first-view
/* ------------------- */
.fv {
  height: 100vh;
  max-height: 900px;
  width: 100%;
  padding-bottom: 120px;
  position: relative;
  background-color: cl(white);
  box-sizing: content-box;

  .fv-img {
    width: percentage(1100px / 1440px);
    max-width: 1200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .fv-bg-black {
    width: percentage(780px / 1440px);
    height: 100%;
    max-height: 780px;
    background-color: cl(base);
    position: absolute;
    top: 0;
    right: 0;
  }

  .fv-copy {
    color: #fff;
    z-index: 3;
    text-transform: uppercase;

    .copy-small {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .copy-big {
      font-size: 7.2rem;
      font-weight: 800;
    }
  }
}
