/* ------------------- */
/* first-view
/* ------------------- */
.fv {
  height: 800px;
  max-height: 800px;
  width: 100%;
  position: relative;
  background-color: cl(beige);
  box-sizing: content-box;
  padding-bottom: 60px;

  .fv-img {
    width: percentage(1100px / 1440px);
    max-width: 1100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .fv-bg-black {
    width: percentage(780px / 1440px);
    min-width: 600px;
    height: 100%;
    max-height: 740px;
    min-height: 500px;
    background-color: cl(base);
    position: absolute;
    top: 0;
    right: 0;
  }

  .fv-copy {
    color: #fff;
    z-index: 3;
    text-transform: uppercase;

    .copy-small {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .copy-big {
      font-size: 7.2rem;
      font-weight: 800;
    }
  }
}
