/* ------------------- */
/* service
/* ------------------- */
#service {

  .sec-wrapper {
    padding: 60px 10vw;

    .sec-inner {
      height: 100%;
      width: 100%;
      background-color: rgba($color: cl(beige), $alpha: .95);
      padding: 40px 3vw;
      position: relative;

      .flex-item {
        flex-direction: row-reverse;
        .flex-left {
          width: 60%;

          .sec-text {
            line-height: 2;
            letter-spacing: normal;
            padding-right: 30px;
            // width: 80%;
          }
        }

        .service-image {
          margin: 0 auto;
          flex: 1;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 250px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
