.flex-item {
  display: flex;
  justify-content: space-between;
}

.sec-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 40px 3vw;
}

.title-box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  color: cl(text);
  .sec-title {
    font-size: 3.2em;
    font-weight: 800;
    text-transform: uppercase;
  //  text-transform: capitalize;
    margin-right: 1em;
  }
  .sub-title {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    &:before,
    &:after {
      border-top: 1px solid;
      content: "";
      width: .5em;
    }
    &:before {
      margin-right: .5em;
    }
    &:after {
      margin-left: .5em;
    }
  }
  &.right {
    flex-direction: row-reverse;
    .sec-title {
      margin-right: 0;
      margin-left: 1em;
    }
  }
}

.sec-text {
  line-height: 2;

  p {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}

.link-btn {
  margin-top: 30px;

  a {
    text-transform: uppercase;
    text-align: center;
    background-color: cl(tblue);
    width: 160px;
    color: cl(beige);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 3.6rem;
    display: inline-block;
    transition: .3s;

    &:hover {
      opacity: .7;
    }
  }
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
