.flex-item {
  display: flex;
  justify-content: space-between;
}

.sec-wrapper {
  width: 100%;
  margin: 0 auto;
  // max-width: 1100px;
}

.sec-title {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: cl(text);
}

.sec-text {
  line-height: 2;

  p {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}

.link-btn {
  margin-top: 30px;

  a {
    text-transform: uppercase;
    text-align: center;
    background-color: cl(tblue);
    width: 160px;
    color: cl(beige);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 3.6rem;
    display: inline-block;
    transition: .3s;

    &:hover {
      opacity: .7;
    }
  }
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
