/* ------------------- */
/* header
/* ------------------- */
#header {
  position: relative;
  top: 40px;
  z-index: 10;
  width: 100%;

  .header-inner {
    position: absolute;
    width: 100%;
    padding: 20px 10vw;
    margin: 0 auto;
    color: cl(beige);
    align-items: center;

    .header-logo {
      a {
        font-size: 3.8rem;
        color: cl(beige);
        align-items: baseline;
        font-weight: 800;
        text-shadow: 1px 2px 3px cl(base);
      }
    }

    #nav {
      position: fixed;
      top: 0;
      right: -600px;
      width: 600px;
      padding-top: percentage(130px / 900px);
      transition: .5s;
      z-index: 20;
      opacity: 0;
      background: rgba($color: cl(base), $alpha: .95);
      height: 100vh;

      .nav-list {
        text-align: center;
        .logo {
          margin-bottom: 40px;
          img {
            height: 50px;
            width: 50px;
          }
        }
        .nav-item {
          margin-bottom: 30px;
          a {
            color: cl(beige);
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 800;
          }
        }
      }

      &.open {
        right: 0;
        opacity: 1;
      }
    }

    .menu-btn {
      align-items: center;
      cursor: pointer;
      z-index: 20;

      .burger-menu {
        width: 40px;
        height: 26px;
        position: relative;
        top: 0;
        z-index: 20;
        margin-right: 7px;

        span {
          display: block;
          position: absolute;
          width: 40px;
          height: 2px;
          background-color: cl(beige);
          border-radius: 4px;
          transition: all .3s;

          &:first-child {
            top: 0;
          }

          &:nth-child(2),
          &:nth-child(3) {
            top: 12px;
          }

          &:last-child {
            bottom: 0;
          }
        }

        &.open {
          span {
            &:first-child {
              opacity: 0;
            }

            &:nth-child(2) {
              transform: rotate(45deg);
            }

            &:nth-child(3) {
              transform: rotate(-45deg);
            }

            &:last-child {
              opacity: 0;
            }
          }
        }
      }

      .menu-text {
        font-size: 1.6rem;
        font-weight: 800;
      }
    }

    #mask {
      background-color: rgba($color: cl(base), $alpha: .6);
      width: 100%;
      height: 100%;
      z-index: 10;
      position: fixed;
      top: 0;
      left: 0;
      cursor: pointer;
      display: none;

      &.open {
        display: block;
        transition: .5s;
      }
    }
  }
  &.fix {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  &.change {
    .header-inner {
      border-bottom: 1px solid cl(base);
      box-shadow: 0 1px 10px 0px rgba(0, 0, 0, .5);
      background-color: rgba($color: cl(base), $alpha: .9);
      transition: .4s;
    }
  }
}
