/* ------------------- */
/* general
/* ------------------- */
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
}

html {
  font-size: 62.5%;
  color: cl(text);
}

body {
  @include Montserrat;
  letter-spacing: 0.05em;
  margin: 0 auto;
  font-size: 1.4em;
  &:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url(https://github.com/Satomaru178/SYPF/blob/main/img/background-ocean.jpg?raw=true) center no-repeat;
    background-size: cover;
  }
}

img {
  width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
  user-select: none;
}

li {
  list-style: none;
}
